* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #161616;
}

hr.divider{
  height: .5px;
  background-color: #A5A1A1;
  border: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

header a{
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #161616;
  font-size: large;
  font-weight: 700;
}

header nav ul{
  display: flex;
  gap: 10px;
  list-style: none;
}

main figure.banner-promotional img{
  width: 100%;
  height: 220px;
  object-fit: cover;
  background: center;
}

main section div#content-area-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

main section div#product-list{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-items: center;
  align-items: center;
}

figure.product-card{
  display: flex;
  flex-direction: column;
}

img.product-image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 5%;
}

figcaption.product-description .product-title{
  font-size: 13px;
}

figcaption.product-description .product-price{
  font-weight: 700;
}

figcaption.product-description .product-price span{
  color: #5CA720;
}

